body {
  text-align: center;
  background-color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b00;
}

h1 {
  font-size: 7em;
  margin-top: 100px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #fff;
  cursor: pointer;
}
